#welcome-form {
    position: relative;
    width: 100%;
    text-align: center;
}

#welcome-title {
    padding-top: 15px;
    padding-bottom: 20px;    
    text-align: center;
}

.welcome-field-input {
    margin: 0 auto;
    font-size: 18px;
}

.welcome-footer {
    vertical-align: bottom;
    text-decoration: underline;
    color: gray;
}