<ion-header>

  <ion-navbar color="navbar">
    <ion-title>Review Your Photos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-right>
  <!--review all of the items recorded in the survey, make changes if necessary-->
  <ion-list>
    <div class="item-container" *ngFor="let item of surveyItems; let i = index">
      <ion-item text-wrap (press)="editEntry(item, i)" *ngIf="i != editingIndex">
        <ion-grid>
          <ion-row>
            <ion-col col-5>
              <img src="{{item.image}}" alt="img">
            </ion-col>
            <ion-col col-7>
              <ion-grid>
                <ion-row>
                  <ion-col>Height: {{item.height}}&nbsp;{{item.heightUnits}}</ion-col>
                  <ion-col>Width: {{item.width}}&nbsp;{{item.widthUnits}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Qty: {{item.quantity}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span [innerHTML]="item.htmlNotes"></span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!--form with edit fields-->
      <div *ngIf="showEditForm && i == editingIndex">
        <ion-grid>
          <ion-row>
            <ion-col col-5>
              <img src="{{item.image}}" alt="img">
            </ion-col>
            <ion-col col-7>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-label>Height</ion-label>
                    <ion-input type="number" placeholder="Height" value="{{item.height}}" style="border: 1px solid black" name="newHeightInput"
                      [(ngModel)]="newHeight"></ion-input>
                    <ion-item>
                      <ion-label>Units: </ion-label>
                      <ion-select [(ngModel)]="newHeightUnits" placeholder="Units" [ngModelOptions]="{standalone: true}" [selectOptions]="{title: 'Height Units', subTitle: 'Select the height units'}">
                        <ion-option [selected]="newHeightUnits == 'm'" value="m">m</ion-option>
                        <ion-option [selected]="newHeightUnits == 'cm'" value="cm">cm</ion-option>
                        <ion-option [selected]="newHeightUnits == 'ft'" value="ft">ft</ion-option>
                        <ion-option [selected]="newHeightUnits == 'in'" value="in">in</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-label>Width</ion-label>
                    <ion-input type="number" placeholder="Width" value="{{item.width}}" style="border: 1px solid black" name="newWidthInput"
                      [(ngModel)]="newWidth"></ion-input>
                    <ion-item>
                      <ion-label>Units: </ion-label>
                      <ion-select [(ngModel)]="newWidthUnits" placeholder="Units" [ngModelOptions]="{standalone: true}" [selectOptions]="{title: 'Width Units', subTitle: 'Select the width units'}">
                        <ion-option [selected]="newWidthUnits == 'm'" value="m">m</ion-option>
                        <ion-option [selected]="newWidthUnits == 'cm'" value="cm">cm</ion-option>
                        <ion-option [selected]="newWidthUnits == 'ft'" value="ft">ft</ion-option>
                        <ion-option [selected]="newWidthUnits == 'in'" value="in">in</ion-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-label>Qty.</ion-label>
                    <ion-input type="number" placeholder="Qty." value="{{item.quantity}}" style="border: 1px solid black" name="newQtyInput"
                      [(ngModel)]="newQuantity"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align: right">
              <button (click)="saveChanges()" id="save-changes-btn" ion-button>Finish</button>
            </ion-col>
            <ion-col style="text-align: left"><button ion-button type="button" (click)="deleteEntry(item, i)">Delete Entry</button></ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-list>
  <div padding-left padding-bottom><button ion-button block [disabled]="!enableExportBtn" (click)="openShareOptions()">Export Survey</button><br><br></div>
</ion-content>